
@media (max-width: 480px) {
    h1 {
        font-size: 28px;
        margin-top: 15px;
    }

    .button {
        padding: 16px 40px;
        font-size: 18px;
        bottom: 20%;
    }

    p {
        font-size: 12px;
        bottom: 8%;
    }
}

@media (max-width: 768px) {
    .button {
        padding: 18px 45px;
        font-size: 19px;
        bottom: 25%;
    }

    p {
        font-size: 13px;
        bottom: 12%;
    }
}